body{
    
    font-family: 'Orbitron', sans-serif; ;
    text-align: center;
     color:#82a5ca;
     margin: 0;


}

.back{
padding: 10px 0 40px 0;
    background-image: url("galaxy.webp");
background-size: cover;
}
.btn{
    font-family: 'Orbitron', sans-serif;;
    padding: 6px 12px;
    background-color: white;
    border:none;
    color: #82a5ca;
    font-weight: bold;
    
    
}
.blur{

    text-shadow: 0px 0px 4px black;
}
.sp{
border-bottom: 4px solid white;

}
#mainlogo{
display: block;
margin: 0 auto;
    width: 100px;
}
h3{
    color: #82a5ca;
}

    

 
